<!doctype html>
<html>
<head>
    <title>Features 3</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!-- component -->
<div class="bg-indigo-600">
    <div class="lg:grid lg:grid-cols-2">
        <div class="py-24 px-10 lg:px-0 max-w-3xl lg:max-w-md mx-auto">
            <h2 class="text-4xl tracking-tight font-extrabold text-gray-100">
                <span class="block">Ready to dive in?</span>
                <span class="block">Start your free trial today.</span>
            </h2>
            <p class="text-gray-300">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <div class="inline-block shadow">
                <a href="#" class="inline-block py-3 px-4 bg-white hover:bg-indigo-100 text-indigo-500 font-medium border border-transparent rounded-md">Sign up for free</a>
            </div>
        </div>
        <div class="lg:relative">
            <img class="lg:absolute p-5 lg:inset-0 h-60 w-full lg:h-full object-cover object-center" src="https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Woman workcation on the beach">
        </div>
    </div>
</div>
<div class="bg-indigo-600">
    <div class="lg:grid lg:grid-cols-2">
        <div class="lg:relative">
            <img class="lg:absolute p-5 lg:inset-0 h-60 w-full lg:h-full object-cover object-center" src="https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Woman workcation on the beach">
        </div>
        <div class="py-24 px-10 lg:px-0 max-w-3xl lg:max-w-md mx-auto">
            <h2 class="text-4xl tracking-tight font-extrabold text-gray-100">
                <span class="block">Ready to dive in?</span>
                <span class="block">Start your free trial today.</span>
            </h2>
            <p class="text-gray-300">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <div class="inline-block shadow">
                <a href="#" class="inline-block py-3 px-4 bg-white hover:bg-indigo-100 text-indigo-500 font-medium border border-transparent rounded-md">Sign up for free</a>
            </div>
        </div>
        
    </div>
</div>
<div class="bg-indigo-600">
    <div class="lg:grid lg:grid-cols-2">
        
        <div class="py-24 px-10 lg:px-0 max-w-3xl lg:max-w-md mx-auto">
            <h2 class="text-4xl tracking-tight font-extrabold text-gray-100">
                <span class="block">Ready to dive in?</span>
                <span class="block">Start your free trial today.</span>
            </h2>
            <p class="text-gray-300">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <div class="inline-block shadow">
                <a href="#" class="inline-block py-3 px-4 bg-white hover:bg-indigo-100 text-indigo-500 font-medium border border-transparent rounded-md">Sign up for free</a>
            </div>
        </div>
        <div class="lg:relative">
            <img class="lg:absolute p-5 lg:inset-0 h-60 w-full lg:h-full object-cover object-center" src="https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Woman workcation on the beach">
        </div>
    </div>
</div>
</body>
</html>